~/Java
*.jar
*.class
*.vsidx
/Java/LP2SoftGestClientesController/build/
/Java/LP2SoftDBManager/dist/
/Java/LP2SoftDBManager/build/
/Java/LP2SoftRRHHModel/build/
/Java/LP2SoftGestClientesModel/build/
/Java/LP2SoftVentasModel/dist/
/Java/LP2SoftVentasModel/build/
/Java/LP2SoftRRHHModel/dist/
/Java/LP2SoftGestClientesController/dist/
/Java/LP2SoftGestClientesModel/dist/
/Java/LP2SoftRRHHController/build/
/Java/LP2SoftRRHHController/dist/
/Java/LP2SoftWebServices/build/
/Java/LP2SoftVentasController/dist/
/Java/LP2SoftVentasController/build/

/Java/LP2SoftEnums/nbproject/private/
/Java/LP2SoftEnums/dist/
/Java/LP2SoftEnums/build/
