/LP2Soft/build/
/LP2Soft/dist/
/LP2SoftRRHHModel/dist/
/LP2SoftVentasModel/dist/
/LP2SoftGestClientesModel/dist/
/LP2SoftGestClientesController/dist/
/LP2SoftDBManager/nbproject/private/
/LP2SoftRRHHController/nbproject/private/
/LP2SoftDBManager/dist/
/LP2SoftDBManager/build/
/LP2SoftRRHHController/dist/
/LP2SoftRRHHController/build/
private.properties
