<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="VentasWSPortBinding" />
                
                <binding name="GestClientesWSPortBinding" />
				<binding name="RRHHWSPortBinding" allowCookies="true"
                 maxReceivedMessageSize="20000000"
                 maxBufferSize="20000000"
                 maxBufferPoolSize="20000000">
					<readerQuotas maxDepth="32"
						 maxArrayLength="200000000"
						 maxStringContentLength="200000000"/>
				</binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://44.211.200.189:8080/LP2SoftWebServices3/GestClientesWS"
                binding="basicHttpBinding" bindingConfiguration="GestClientesWSPortBinding"
                contract="GestClientesWS.GestClientesWS" name="GestClientesWSPort" />
            <endpoint address="http://44.211.200.189:8080/LP2SoftWebServices3/RRHHWS"
                binding="basicHttpBinding" bindingConfiguration="RRHHWSPortBinding"
                contract="RRHHWS.RRHHWS" name="RRHHWSPort" />
            <endpoint address="http://44.211.200.189:8080/LP2SoftWebServices3/VentasWS"
                binding="basicHttpBinding" bindingConfiguration="VentasWSPortBinding"
                contract="VentasWS.VentasWS" name="VentasWSPort" />
        </client>
    </system.serviceModel>
</configuration>