<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="VentasWSPortBinding" closeTimeout="00:01:00" openTimeout="00:01:00"
                    receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
                    bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="999999" maxBufferSize="999999" maxReceivedMessageSize="999999"
                    textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
                    messageEncoding="Text">
                    <readerQuotas maxDepth="999999" maxStringContentLength="999999"
                        maxArrayLength="999999" maxBytesPerRead="999999" maxNameTableCharCount="999999" />
                    <security mode="None" />
                </binding>
                <binding name="GestClientesWSPortBinding" />
                <binding name="RRHHWSPortBinding" closeTimeout="00:01:00" openTimeout="00:01:00"
                    receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
                    bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="999999" maxBufferSize="999999" maxReceivedMessageSize="999999"
                    textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
                    messageEncoding="Text">
                    <readerQuotas maxDepth="999999" maxStringContentLength="999999"
                        maxArrayLength="999999" maxBytesPerRead="999999" maxNameTableCharCount="999999" />
                    <security mode="None" />
                </binding>
                <binding name="ReporteWSPortBinding" closeTimeout="00:01:00" openTimeout="00:01:00"
                    receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
                    bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="999999" maxBufferSize="999999" maxReceivedMessageSize="999999"
                    textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
                    messageEncoding="Text">
					<readerQuotas maxDepth="999999" maxStringContentLength="999999"
                        maxArrayLength="999999" maxBytesPerRead="999999" maxNameTableCharCount="999999" />
					<security mode="None" />
				</binding>
                <binding name="RRHHWSPortBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/LP2SoftWebServices/GestClientesWS"
                binding="basicHttpBinding" bindingConfiguration="GestClientesWSPortBinding"
                contract="GestClientesWS.GestClientesWS" name="GestClientesWSPort" />
            <endpoint address="http://localhost:8080/LP2SoftWebServices/VentasWS"
                binding="basicHttpBinding" bindingConfiguration="VentasWSPortBinding"
                contract="VentasWS.VentasWS" name="VentasWSPort" />
            <endpoint address="http://localhost:8080/LP2SoftWebServices/ReporteWS"
                binding="basicHttpBinding" bindingConfiguration="ReporteWSPortBinding"
                contract="ReportesWS.ReporteWS" name="ReporteWSPort" />
            <endpoint address="http://localhost:8080/LP2SoftWebServices/RRHHWS"
                binding="basicHttpBinding" bindingConfiguration="RRHHWSPortBinding"
                contract="RRHHWS.RRHHWS" name="RRHHWSPort" />
        </client>
    </system.serviceModel>
</configuration>