<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="VentasWSPortBinding" />
                <binding name="GestClientesWSPortBinding" />
                <binding name="RRHHWSPortBinding" allowCookies="true" maxBufferPoolSize="20000000"
                    maxReceivedMessageSize="20000000" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/LP2SoftWebServices/RRHHWS"
                binding="basicHttpBinding" bindingConfiguration="RRHHWSPortBinding"
                contract="RRHHWS.RRHHWS" name="RRHHWSPort" />
            <endpoint address="http://localhost:8080/LP2SoftWebServices/GestClientesWS"
                binding="basicHttpBinding" bindingConfiguration="GestClientesWSPortBinding"
                contract="GestClientesWS.GestClientesWS" name="GestClientesWSPort" />
            <endpoint address="http://localhost:8080/LP2SoftWebServices/VentasWS"
                binding="basicHttpBinding" bindingConfiguration="VentasWSPortBinding"
                contract="VentasWS.VentasWS" name="VentasWSPort" />
        </client>
    </system.serviceModel>
</configuration>